Use shadcn components with typescript, check components folder for required components.
For client side data fetching use tanstack react query and its states
Use yarn for package manager
While making a decision about backend and database use supabase.
You can check the database.types.ts file for the database schema.
